<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <%- include('partials/head.ejs')%>

</head>
<body>    
    <%- include('partials/navigation.ejs') %>
    
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
        <section>
            <h1 class="display-1">About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia sint id, dolorum error culpa mollitia. Iusto fuga accusantium asperiores enim accusamus ratione quisquam at sunt modi repellat dolor, aliquid nemo architecto eaque saepe quam ex deleniti tempora culpa necessitatibus! Dolores molestias aut mollitia placeat autem perspiciatis labore. Exercitationem eveniet doloremque placeat vel necessitatibus aliquid deserunt, illo nihil perferendis, accusamus ratione pariatur id tempore ut non velit odio numquam recusandae, delectus assumenda laboriosam! Doloribus excepturi iure culpa minus, animi quam eos reprehenderit fugiat veritatis quos, ea inventore impedit, laboriosam aliquid saepe autem. Excepturi voluptatum nesciunt nulla maiores doloremque minima quis, pariatur illum ipsam soluta delectus rem architecto magnam? Incidunt modi ut esse officiis unde aspernatur culpa eaque quae tempore cupiditate eos vel expedita odio, enim commodi. Vero blanditiis eos fugiat distinctio, culpa maxime neque eaque voluptate natus delectus libero dolor commodi totam, perferendis ipsa asperiores consectetur ratione assumenda quis ad. Quod dolore tempore quasi sapiente veritatis voluptates numquam. Nulla dolor provident veritatis ea nobis. Nulla dolore sed laudantium quidem ipsa saepe, eos fugiat nihil itaque magnam officiis deserunt quos dolor mollitia iure architecto at quas numquam similique maiores sit odio amet ab. Placeat fugit beatae illum, qui doloremque saepe nobis voluptate laboriosam labore itaque minima maiores inventore voluptas quod dolor nemo esse reprehenderit vitae, quaerat consectetur iste odit ducimus nostrum facere? Dolorum obcaecati amet in quod iusto aut sequi nobis, modi voluptatibus aperiam dolorem repellat temporibus facilis quam neque eos error, sunt dolores fuga quia blanditiis quis ipsa? Id fugiat consectetur enim assumenda sapiente dolorum veritatis amet ad ea totam, commodi sit? Autem voluptatibus vel cumque tempore dolor tenetur exercitationem tempora, eaque officiis aliquam aperiam unde doloremque ullam temporibus facere vero ducimus pariatur obcaecati reiciendis at voluptatum cupiditate, odio sint? Quia ratione voluptatem assumenda fugit temporibus accusamus eum molestias nulla neque.</p>

        </section>
    </main>
    
    <%- include('partials/footer.ejs') %>
    
</body>
</html>